/Album.class
/AlbumDelMundial.class
/AlbumExtendido.class
/AlbumTradicional.class
/AlbumWeb.class
/CodigoCliente.class
/Fabrica.class
/Figurita.class
/FiguritaTOP10.class
/FiguritaTradicional.class
/InterfazPublicaAlbumDelMundial.class
/Participante.class
